* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: black;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  background: url(../img/bghero.jpg) center / contain no-repeat;
}

.btn {
  background: transparent;
  height: 200px;
  border: 5px solid #fff;
  border-radius: 10px;
  cursor: pointer;
  transition: border .5s ease;
}

.btn:hover {
  border: 5px solid #ccc;
}